# Virtual Environment
.venv/

# Environment variables
.env
!.env.example

# Python cache files
__pycache__/
*.py[cod]
*.pyd
*.pyo

# Dist
dist/
build/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.log

# OS generated
.DS_Store
Thumbs.db
